{% load static %}
{% if user.is_authenticated %}
{% include "header.html" %}

<div class="MainPage">
   <div class="apartments content-wrapper">
      <div class="container">
         <form action =# method="GET" id="apartment-filter">
         <div class="filter">
            <div class="row">
               <div class="results_near col-sm-4">

                  <label>Showing results near</label>
                  <select class="nearBy" name="nearBy">
                     <option value="DAL">Dalhousie University</option>
                     <option value="SMU">SMU University</option>
                     <option value="WALMART">Walmart-Mumfford</option>
                     <option value="Darthmouth">Darthmouth</option>
                     <option value="COSTCO">Costco</option>

                  </select>
               </div>
               <div class="type_of_room col-sm-4">
                  <label>Type of Room</label>
                  <select class="TypeOfRoom" name="TypeOfRoom">
                     <option value="1">1 BHK</option>
                     <option value="2">2 BHK</option>
                     <option value="3">3 BHK</option>
                     <option value="B">Bungalow</option>
                     <option value="S">Single Room</option>
                  </select>
               </div>
 <div class="sharing col-sm-4">
                  <label>Sharing</label>
                  <select class="sharingroom" name="sharing">
                     <option value="Y">
                        Yeah
                     </option>
                     <option value="N">
                        No
                     </option>
                  </select>
               </div>
            </div>
         </div>
            <button class="btn btn-success search-filter"> Apply Filter </button>
            <button class="btn btn-success clearFilter"> Clear Filter </button>
         </form>
         <div class="row">
            <div class="showing-results adjustment">
               <div class="border1 col-sm-2">
                  &#160;
               </div>
               <div class="total-results col-sm-2">
                  Showing {{ count }} result(s)
               </div>
               <div class="border1 col-sm-8">
                  &#160;
               </div>
            </div>
         </div>
         <div class="apartment-result" style="margin: auto;">
            {% for apartment in allApartments%}
               <div class="card {{apartment.near_by}} {{apartment.type_of_room}} {{apartment.sharing}}" style="width: 18rem;margin: 1em;display: inline-block;">
                  <div style="text-align: center;">
                     <img style="width: 60%;margin: auto;padding-top: 3em;" class="card-img-top" src="{% static '' %}{{apartment.apartment_image}}" alt="Card image cap">
                  </div>
                 <div class="card-body">
                     <span><h5 class="card-title">{{apartment.apartment_name}} <span class="apartment_cost">C$ {{ apartment.apartment_price }}</span></h5></span>
                     <h6 class="card-title {{apartment.near_by}}">Near {{apartment.near_by}}</h6>
                     <p class="card-text">{{apartment.apartment_location }}</p>
                     {% if is_owner %}
                         <a href="#" class="btn btn-outline-dark" onclick="deleteApartment({{apartment.apartment_id}})">Delete</a>
                     {% else %}
                     <a onclick="showApartment({{apartment.apartment_id }})" class="btn btn-outline-dark">Details</a>
                  {% endif %}
                  </div>
                </div>
            {% endfor %}
      </div>
   </div>
   <div class="shownoapartmentmessage">
       <h3> No, Apartment as per your filter criteria. Please change the filter criteria or press the clear Filter Button.</h3>
   </div>

</div>
</div>

{% else %}
	<div class="p1">
		<div class="emptyimage pt3">
			<img src="{% static 'images/svg/alarm.svg' %}" style="width: 20%" alt="Houses and Localities">
		</div>
		<h1 class="emptyimage p05">Unauthorized Access!</h1>
	</div>

{% endif %}