{% load static %}
{#{% if user.is_authenticated %}#}
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/tectum.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/tectum.js' %}"></script>
    <script src="{% static 'js/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_aman.css' %}">

    <title>Tectum&#x2122;</title>
  </head>
    <nav class="navbar navbar-dark bg-dark p1">
  		<a class="navbar-brand" href="#" onclick="window.location='/'">
			<img src="{% static 'images/svg/font.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="Tectum">
    		<span class="texttitle">ectum</span>
  		</a>

	</nav>

    <div class="ThankyouPage container">
    <div class="ThankYouPageDetails">
        <div class="paddingblue">
        <div class="thankyou"><h1>Congratulations</h1>
        </div>
            <div class="padd">
        <div class=""><h2>Your transaction has been success.</h2></div>
        <div class="">
        <h1>Your Purchase details are as below:</h1>
        </div>
    <div class="">

        <h4>Apartment: {{ apartment.apartment_name }}.</h4>
    </div>
        <div class="">
            <h3>Price:  {{ apartment.apartment_price }}.</h3></div>
    </div>
        </div>
            </div>
            </div>
